.map {
  width: 100%;
  height: 100%;
}
.mapWrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
.extraMapControlsContainer {
  position: absolute;
  right: var(--spk-spacing-5, 24px);
  top: var(--spk-spacing-2, 8px);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.legendContainer {
  padding: var(--spk-spacing-2, 8px);
  position: absolute;
  right: var(--spk-spacing-3, 12px);
  bottom: var(--spk-spacing-7, 28px);
  background-color: var(--white, #fff);
  border-radius: var(--radius-4, 4px);
  box-shadow: var(--shadow-3, 0 0 10px 0 rgba(0, 0, 0, 0.1));
}
