.subpanelPositionedParent {
  height: 100%;
  position: relative; // to support absolute positioning of subpanel
}
.subpanelWrapper {
  border: solid thin cyan;
  height: 100%;
  width: 200px;
  position: absolute;
  right: 0;
  background: white;
  box-sizing: border-box;
  z-index: 1; // ensures stacked on top of map (tested with maplibre)
  transform: translateX(calc(100% + var(--spk-spacing-5, 24px)));
}
